.body {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.body > a {
  text-decoration: none;
  cursor: pointer;
  color: blue;
}

.image {
  width: 20%;
  display: flex;
  justify-items: center;
  border-radius: 20px;
}

.button {
  display: flex;
  margin-block: 10px;
}

.button > a {
  text-decoration: none;
}

.button > a > button {
  margin-inline: 10px;
  padding-inline: 20px;
  cursor: pointer;
}
.email {
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border-color: white;
  color: black;
  font-weight: 800;
  font-size: 1.2rem;
}
.email > img {
  width: 20px;
  padding-inline: 20px;
}
.linkedin {
  background-color: rgb(0, 119, 255);
  display: flex;
  align-items: center;
  border-radius: 10px;
  border-color: rgb(0, 119, 255);
  color: white;
  font-weight: 800;
  font-size: 1.2rem;
}
.linkedin > img {
  width: 20px;
  padding-inline: 20px;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about >p {
    width: 30%;
    margin-top: 0;
}
.interest{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.interest > p {
    width: 80%;
    margin-top: 0;
}